.FastShot_grid_top {
    background-image: url(bk_top.png); 
    background-repeat: repeat-x;
    padding: 12px !important;
}

.FastShot_grid_general {
    background-image: url(bk_general_1x1.png); 
    background-repeat: repeat;
    padding-bottom: 12px !important;
    
}