	.FastShot_grid_general {
    background-image: url(bk_general.gif); 
    background-repeat: repeat;
    background-position: left top;
    float: left;
    padding-bottom: 12px !important;
    
}