.FastShot_default {
   padding-top: 5px !important;
   padding-left: 15px;
}

.FastShot_default a.imgThumb:link, .FastShot_default a.imgThumb:visited {
    outline: 0;
}

.FastShot_default a.imgThumb:hover {
}

.FastShot_default a.imgTitle:link, .FastShot_default a.imgTitle:visited {
    font-family: Arial !important;
    font-weight: bold !important;
    font-size: 13px;
    color: #356b88;
    margin-top: 5px;
}
.FastShot_default a.imgTitle:hover {
    font-family: Arial !important;
    font-weight: bold !important;
    font-size: 13px;
    color: #aa1212; 
    margin-top: 5px; 
}


.FastShot_default_modify a:link, .FastShot_default_modify a:visited {
    padding-bottom: 10px !important;
    padding-top: 5px !important;
    font-family: Verdana !important;
    font-weight: bold !important;
    font-size: 11px !important ;
    color: #797d83;
}

.FastShot_default_modify a:hover {
    padding-bottom: 10px !important;
    padding-top: 5px !important;
    font-family: Verdana !important;
    font-size: 11px !important;
    font-weight: bold !important;
    color: #953646;  
}



.FastShot_grid_general {
    background-image: url(bk_general.gif); 
    background-repeat: repeat;
    padding-bottom: 12px !important;
	float: left;
}