
.fsGalleriffic_white {
    background-color: #FFFFFF;
    border: 1px solid #eaeaea;
}

.fsGalleriffic_white .fsgNavC {
    
}


.fsGalleriffic_white .fsgNavOuterC {
    border-bottom: 1px solid #eaeaea;
    padding: 4px;
    background-color: #fdfdfd;
}


.fsGalleriffic_white div.fsgContent {
	display: none;
	clear: both;
    
    padding: 4px;
}

.fsGalleriffic_white div.fsgContent a, .fsGalleriffic_white div.navigation a {
	text-decoration: none;
}
.fsGalleriffic_white div.fsgContent a:hover, .fsGalleriffic_white div.fsgContent a:active {
	text-decoration: underline;
}

.fsGalleriffic_white div.navigation a.pageLink {
	height: 77px;
	line-height: 77px;
}

.fsGalleriffic_white div.controls {
	margin-top: 5px;
	height: 23px;
}
.fsGalleriffic_white div.controls a {
	padding: 5px;
}
.fsGalleriffic_white div.ss-controls {
	float: left;
}
.fsGalleriffic_white div.nav-controls {
	float: right;
}

.fsGalleriffic_white div.slideshow-container {
    width: 60%;
}


.fsGalleriffic_white div.loader,
.fsGalleriffic_white div.slideshow a.advance-link {
	width: 100%; /* This should be set to be at least the width of the largest image in the slideshow with padding */
}

.fsGalleriffic_white div.loader,
.fsGalleriffic_white div.slideshow a.advance-link,
.fsGalleriffic_white div.caption-container {
	/*height: 502px; /* This should be set to be at least the height of the largest image in the slideshow with padding */	
}

.fsGalleriffic_white div.slideshow-container {
	position: relative;
	clear: both;
	float: left;
}

.fsGalleriffic_white div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('images/loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
.fsGalleriffic_white div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
}
.fsGalleriffic_white div.slideshow a.advance-link {
	display: block;
	/*line-height: 502px; /* This should be set to be at least the height of the largest image in the slideshow with padding */
	text-align: center;
    white-space: pre;
}

.fsGalleriffic_white div.slideshow a.advance-link img {
    width: 100%;
    height: auto;
}

.fsGalleriffic_white div.slideshow a.advance-link:hover,
.fsGalleriffic_white div.slideshow a.advance-link:active,
.fsGalleriffic_white div.slideshow a.advance-link:visited {
	text-decoration: none;
}
.fsGalleriffic_white div.slideshow a.advance-link:focus {
	outline: none;
}

.fsGalleriffic_white div.slideshow img {
	border-style: solid;
	border-width: 1px;
}
.fsGalleriffic_white div.caption-container {
	float: right;
	position: relative;
	margin-top: 30px;
}
.fsGalleriffic_white span.image-caption {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.fsGalleriffic_white div.caption-container, span.image-caption {
	width: 334px;
}

.fsGalleriffic_white div.caption {
	padding: 0 12px 0 0;
}

.fsGalleriffic_white div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
.fsGalleriffic_white div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
.fsGalleriffic_white div.download {
	margin-top: 8px;
}
.fsGalleriffic_white div.photo-index {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 6px 0;
}
.fsGalleriffic_white div.fsgNavC {
	float: left;
	position: relative;
	left: 50%;
}
.fsGalleriffic_white div.navigation {
	float: left;
	position: relative;
	left: -50%;
}
.fsGalleriffic_white div.navigation a.pageLink {
	display: block;
	position: relative;
	float: left;
	margin: 2px;
	width: 16px;
	background-position:center center;
	background-repeat:no-repeat;
}
.fsGalleriffic_white div.navigation a.pageLink:focus {
	outline: none;
}

.fsGalleriffic_white ul.fsgThumbsC {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
.fsGalleriffic_white ul.fsgThumbsC li {
	float: left;
	padding: 0;
	margin: 2px;
	list-style: none;
}
.fsGalleriffic_white a.thumb {
	padding: 1px;
	display: block;
}
.fsGalleriffic_white a.thumb:focus {
	outline: none;
}
.fsGalleriffic_white ul.fsgThumbsC img {
	border: none;
	display: block;
}
.fsGalleriffic_white div.pagination {
	clear: both;
	position: relative;
	left: -50%;
}
.fsGalleriffic_white div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	position: relative;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
.fsGalleriffic_white div.pagination a:hover {
	text-decoration: none;
}
.fsGalleriffic_white div.pagination span.current {
	font-weight: bold;
}
.fsGalleriffic_white div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

.fsGalleriffic_white div.gallery-gutter {
	clear: both;
	padding-bottom: 20px;
}




.fsGalleriffic_white div.caption-container {
	color: #111;
}
.fsGalleriffic_white div.image-title {
	font-weight: bold;
	font-size: 1.4em;
}
.fsGalleriffic_white div.image-desc {
	line-height: 1.3em;
	padding-top: 12px;
}
.fsGalleriffic_white div.download {
	margin-top: 8px;
}
.fsGalleriffic_white div.photo-index {
	color: #777;
}
.fsGalleriffic_white div.navigation a.prev {
	background-image: url(prevPageArrow.gif);
}
.fsGalleriffic_white div.navigation a.next {
	background-image: url(nextPageArrow.gif);
}
.fsGalleriffic_white div.loader {
	background-image: url(loader.gif);
}
.fsGalleriffic_white div.slideshow img {
	border-color: #ccc;
}
.fsGalleriffic_white ul.fsgThumbsC li.selected a.thumb {
	background: #000;
}
.fsGalleriffic_white div.pagination a:hover {
	background-color: #eee;
}
.fsGalleriffic_white div.pagination span.current {
	background-color: #000;
	border-color: #000;
	color: #fff;
}